[email]
server   = "imap.zombo.com"
port     = 993
username = "jimbo.jones@zombo.com"
password = "zippity-doo-daa"
folder   = "Packages"

check_interval_seconds = 30

[courier.fedex]
client_id = "your-fedex-client-id"
client_secret = "your-fedex-client-secret"
