name: Rust

on:
  push:
    branches: [main]
    tags-ignore:
      - "[0-9]*"
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
